.keranjang {
  font-weight: bold;
  font-size: 36px;
  line-height: 59px;
  color: black;
  text-align: center;
}

.gambar-produk {
  width: 72px;
  height: auto;
  border-radius: 12px;
}

.jumlah {
  border-radius: 12%;
  margin: 4px;
}

#tabel-keranjang th,
td {
  vertical-align: middle;
}
