.App-container {
  background-color: white;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  color: black;
  align-items: center;
  text-align: center;
}

.App.content {
  flex: 1;
}

.App-footer {
  bottom: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type='password']::-webkit-inner-spin-button,
input[type='password']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
